<section class="_legal ">
  <div class="_container full-3">
    <h1 class="title-1 text-center mb-5 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} _content">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Main Legal",
    "settings": []
  }
{% endschema %}