<main class="_master _i">
  <div class="_container">
    <div class="_full _1 d-none d-xl-block">
      <div class="_header">
        <h3 class="_title">Desktop</h3>
      </div>
      <div class="row">
        <div class="col-lg-6 _1 ">
          <div class="_head _1">
            <p class="_subtitle">HEADINGS</p>
          </div>
          <div class="_body _1">
            <div class="_item _1">
              <div class="_in">
                <div>
                  <h1 class="title-1">The quick brown fox jumps over the lazy dog.</h1>
                  <p class="_detail">Title 1</p>
                </div>
              </div>
            </div>
            <div class="_item _2">
              <div class="_in">
                <div>
                  <h2 class="title-2">The quick brown fox jumps over the lazy dog.</h2>
                  <p class="_detail">Title 2</p>
                </div>
              </div>
            </div>
            <div class="_item _3">
              <div class="_in">
                <div>
                  <h3 class="title-3">The quick brown fox jumps over the lazy dog.</h3>
                  <p class="_detail">Title 3</p>
                </div>
              </div>
            </div>
            <div class="_item _4">
              <div class="_in">
                <div>
                  <h4 class="title-4">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 4</p>
                </div>
              </div>
            </div>
            <div class="_item _5">
              <div class="_in">
                <div>
                  <h4 class="title-5 _uppercase _bld">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 5</p>
                </div>
              </div>
            </div>
            <div class="_item _6">
              <div class="_in">
                <div>
                  <h4 class="title-6">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 6</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 _2 ">
          <div class="_head _1">
            <p class="_subtitle">BODY TEXT</p>
          </div>
          <div class="_body _1">
            <div class="_flex _1">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-l _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text L Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-l _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text L Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-l _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text L Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="_flex _2">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-m _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text M Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-m _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text M Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-m _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text M Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="_flex _3">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-s _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text S Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-s _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text S Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-s _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text S Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <hr>
          <div class="_head _2">
            <p class="_subtitle">BUTTONS</p>
          </div>
          <div class="_body _2">
            <div class="_flex _1">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <button class="_btn btn-i _1">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <button class="_btn btn-i _2">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <button class="_btn btn-ii _1">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="_item _4">
                <div class="_in">
                  <div>
                    <button class="_btn btn-ii _2">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_full _2 d-xl-none">
      <div class="_header">
        <h3 class="_title d-none d-md-block">Tablet</h3>
        <h3 class="_title d-md-none">Mobile</h3>
      </div>
      <div class="row">
        <div class="col-lg-6 _1 ">
          <div class="_head _1">
            <p class="_subtitle">HEADINGS</p>
          </div>
          <div class="_body _1">
            <div class="_item _1">
              <div class="_in">
                <div>
                  <h1 class="title-1">The quick brown fox jumps over the lazy dog.</h1>
                  <p class="_detail">Title 1</p>
                </div>
              </div>
            </div>
            <div class="_item _2">
              <div class="_in">
                <div>
                  <h2 class="title-2">The quick brown fox jumps over the lazy dog.</h2>
                  <p class="_detail">Title 2</p>
                </div>
              </div>
            </div>
            <div class="_item _3">
              <div class="_in">
                <div>
                  <h3 class="title-3">The quick brown fox jumps over the lazy dog.</h3>
                  <p class="_detail">Title 3</p>
                </div>
              </div>
            </div>
            <div class="_item _4">
              <div class="_in">
                <div>
                  <h4 class="title-4">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 4</p>
                </div>
              </div>
            </div>
            <div class="_item _5">
              <div class="_in">
                <div>
                  <h4 class="title-5 _uppercase">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 5</p>
                </div>
              </div>
            </div>
            <div class="_item _6">
              <div class="_in">
                <div>
                  <h4 class="title-6">The quick brown fox jumps over the lazy dog.</h4>
                  <p class="_detail">Title 6</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 _2 ">
          <div class="_head _1">
            <p class="_subtitle">BODY TEXT</p>
          </div>
          <div class="_body _1">
            <div class="_flex _1">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-l _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Large Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-l _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Large Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-l _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Large Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="_flex _2">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-m _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Normal Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-m _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Normal Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-m _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Normal Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="_flex _3">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <p class="text-s _rgl">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">P Small Regular</p>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <p class="text-s _mdm">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Small Medium</p>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <p class="text-s _bld">The quick brown fox jumps over the lazy dog.</p>
                    <p class="_detail">Text Small Bold</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <hr>
          <div class="_head _2">
            <p class="_subtitle">BUTTONS</p>
          </div>
          <div class="_body _2">
            <div class="_flex _1">
              <div class="_item _1">
                <div class="_in">
                  <div>
                    <button class="_btn btn-i _1">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="_item _2">
                <div class="_in">
                  <div>
                    <button class="_btn btn-i _1">
                      <span class="_info text-btn">Shop now</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="_item _3">
                <div class="_in">
                  <div>
                    <a class="_btn btn-i _1">
                      <span class="_info text-btn">Shop now</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% schema %}
  {
    "name": "Master",
    "settings": []
  }
{% endschema %}