<section class="_shop _i">
  <span id="trigger_shop_i_1" class="_trigger"></span>
  <div class="_content">
    <div class="_container full-1">
      <div class="_flex">
        <div class="_character _1">
          <figure class="_message _1">
            <div class="_text">
              <div>Hi, I’m Moosh! Enjoy our delicious, crunchy crackers as a snackable item alone</div>
            </div>
            <img class="_bg" src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/message-orange-1.svg?v=1745000006">
          </figure>
          <figure class="_fun fun-i">
            <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/blue-fun-i.svg?v=1744999902">
          </figure>
        </div>
        <div class="_head">
          <div class="title-1"><h1 data-splitting>{{ section.settings.heading | escape }}</h1></div>
        </div>
        <div class="_character _2">
          <figure class="_message _1">
            <div class="_text">
              <div>And I’m Lou! Or try them with hummus -- or any spread, dip, cheese, or sweet or savory topping! xoxo</div>
            </div>
            <img class="_bg" src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/message-pink-1.svg?v=1745000024">
          </figure>
          <figure class="_fun fun-i">
            <img src="https://cdn.shopify.com/s/files/1/0619/3971/2098/files/green-fun-ii.svg?v=1745000213">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="_shop _ii">
  <div class="_content">
    <div class="_container full-1">
        <div class="_boding">  
          <div class="_flex _pdps">
            {% assign products = collections.shop.products %}
            {% for product in products %}
              {% render 'cardpdp', product: product, forloop: forloop %}
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Shop I",
    "tag": "section",
    "class": "shopify-section--home-i",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Shop our products!"
      }
    ],
    "presets": [
      {
        "name": "Shop I"
      }
    ]
  }
{% endschema %}
